#Roblox TS
/node_modules
/out
/include
*.tsbuildinfo

# Project place file
/*.rbxlx
/*.rbxl
/build.rbxm
.remodel/place.rbxl

# Roblox Studio lock files
/*.rbxlx.lock
/*.rbxl.lock

# Github Workflow
.foreman-install/